body {
  font-family: 'IsabellaSansRegular';
  font-style: normal;
}

iframe {
  display:block;
  margin:auto;
}

.portada {
  text-align: center;
  width: 100%;
  margin: auto;
  
}

.color_backgrounf_1{
  background-color: #DFEEEA;
  width: 100%;
}

.title_form {
  /*color: white;*/
  font-size: 1.5em;
  font-family: 'IsabellaSansRegular';
  font-style: normal;
}

/* Palabra del encabezado */
#tit {
  color: black;
  font-family: 'IsabellaSansRegular';
  font-style: normal;
}

/* Primara parte del cuerpo del proyecto */

nav a:hover, nav a:active {

  background:#CDF0EA; /*cambia el color cuando pasas el mouse*/
  color:#ffffff;
  font-family: 'IsabellaSansRegular';
  font-style: normal;
}

h1 {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 21px;
  font-family: 'IsabellaSansRegular';
  font-weight: 200px;
  font-style: normal;
}

h2 {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: 'IsabellaSansRegular';
  font-weight: 200px;
  font-style: normal;
}

h3 {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: 'IsabellaSansRegular';
  font-weight: 200px;
  font-style: normal;
}

h4 {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: 'IsabellaSansRegular';
  font-weight: 200px;
  font-style: normal;
}

#color_h4 {
  color: #406563;
}

p {
  text-align: justify;
  width: 80%;
  margin: auto;
  font-size: 20px;
  font-family: 'IsabellaSansRegular';
  font-weight: 200px;
  font-style: normal;
}

li {
  text-align: justify;
  width: 80%;
  margin: auto;
  font-size: 20px;
  font-family: 'IsabellaSansRegular';
  font-weight: 200px;
  font-style: normal;
}

li {
  text-align: left;
}

button {
  display:block;
  margin:auto;
}

#footer_word {
  color: black;
  text-align: center;
  margin: auto;
  width: 80%;
  font-size: 0.9em;
}

.graph {
  width: 90%;
  margin: auto;
  text-align: center;
}

img{
  display:block;
  margin:auto;
}

.left_world {
  width: 90%;
  margin: auto;
  text-align: left;
}

.n_world {
  font-weight: bold;
}


/* table {
  width: 90%;
  margin: auto;
} */

.h2_white {
  color: #FFFFFF;
}

.img_skills_1 {
  height: 100%;
  width: 100%;
  background-image: url("../img/Office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.img_skills_1:before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #52c4df, #ad55c1);
  opacity: 0.5;
  z-index: -1;
}

.img_skills_2 {
  height: 100%;
  background-image: url("../img/develop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.img_skills_2:before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #52c4df, #ad55c1);
  opacity: 1;
  z-index: -1;
}


.img_skills_3 {
  height: 100%;
  background-image: url("../img/coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.img_skills_3:before {
  content: "";
  width: 100%;
  /* min-height:100vh; */
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #52c4df, #ad55c1);
  opacity: 0.5;
  z-index: -1;
}

.img_skills_4 {
  height: 100%;
  background-image: url("../img/datos.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.img_skills_4:before {
  content: "";
  width: 100%;
  /* min-height:100vh; */
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #52c4df, #ad55c1);
  opacity: 0.5;
  z-index: -1;
}