@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgb(2,9,90);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF; /* color nav*/
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    z-index:0; /* Posiciona primero el menu */
    align-items: center;

}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    /* font-size: 1.6rem; */
    font-weight: 400;
    color: #FFFFFF; /* Color nav */
}

.nav-link:hover{
    color: #AFAAAA; /* Color cursor */
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #FFFFFF; /* color nav*/
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        /* background-color: #000000;  */
        background-color: rgb(2,9,90);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .table1{
        width: 90%;
        height: 90%;
    }

    .experience{
        width: 90%;
    }
}

/* Color Backgraoung page */

.color-backgraound{
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(105,143,255,1) 68%, rgba(0,47,255,0.9738270308123249) 100%); */
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(89,91,98,1) 91%, rgba(2,9,37,0.9738270308123249) 100%); */
    /* background: rgb(73,157,214);
    background: linear-gradient(180deg, rgba(73,157,214,1) 0%, rgba(26,70,223,1) 43%, rgba(2,9,37,0.9738270308123249) 100%); */

    background: rgb(120,122,145);
    background: linear-gradient(180deg, rgba(120,122,145,1) 0%, rgba(20,30,97,1) 46%, rgba(15,4,76,1) 100%);


    /* Color font */
    color:#FFFFFF;
    font-family: 'Itim', cursive;
    font-size: 130%;
}

/* Portada */

.portada{
    
    width:95%;
    height:95%;
    margin: 10px auto;
    border-radius: 10px;
    text-align: right;
    /* background-color: #1a46df; */
    background-color: rgb(52, 60, 151);
    background-image: url('../background/me.svg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    /* background-position: 2cm bottom; */
}

.h2Letter{
    padding: 200px .5em;

}

.h3Letter{
    padding: 85px .5em;
}

/* About */

.about{
    width:95%;
    height:95%;
    /* padding: 50px .5em; */
    margin: 10px auto;
    border-radius: 10px;
    text-align: justify;
}

.wordAbout{
    padding: 50px .5em;
}

.p{
    padding: 50px .5em;
    text-align: justify;
}

.skills{
    width:95%;
    height:95%;
    /* padding: 50px .5em; */
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFFF;
    color: #000;
}

.wordSkill{
    text-align: left;
    /* color: #000000; */
    padding: 50px .5em;
}

/* .wordEnterSkills{
    text-align: center;
    width:100%;
} */

.gridOfimatica{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}


.gridWeb{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.gridback{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.gridData1{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.gridData2{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.gridDev{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px .5em;
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

/* Footer */

.footer{
    text-align: center;
    display:block;
    margin:auto;
    /* background-color: #FFFFFF; */
    /* height: 90%; */
}

.grid_tool{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 20px;
  }

  .wordContac{
    padding: 50px .5em;
  }

  .pDesing{
    padding: 20px .5em;
  }

/* PAGINA ACERCA */

/* resumen */

.resumen{
    width:95%;
    height:95%;
    /* padding: 50px .5em; */
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}

/* Educacion */

.educacion{
    width:95%;
    height:95%;
    margin: 10px auto;
    border-radius: 10px;
    text-align: right;
    /* background-color: #1a46df; */
    background-color: rgb(52, 60, 151);
    text-align: center;
    padding: 60px .5em;
}

.wordEducation{
    padding: 50px .5em;
  }

.grid_school{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 20px;
    padding: 20px .5em;
  }

  /* Experiencia laboral */

.experience{
    width:95%;
    height:95%;
    margin: 10px auto;
    border-radius: 10px;
    text-align: right;
    background-color: rgba(73,157,214);
    /* background-repeat: no-repeat; */
    /* background-size: 50% 100%; */
    text-align: center;
}

.wordExperience{
    padding: 50px .5em;
  }

.table1{
    left: 50%;
    top: 50%;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    /* border-collapse: collapse; */
    width: 100%;
    height: 95%;
}

tr {
    transition: all .2 ease-in;
    cursor: pointer;
}

th, td {
    padding: 12px;
    text-align: left;
}

#header{
    background-color: rgb(24, 103, 156);
}

tr:hover{
    transform: scale(1.02)

}

@media screen and (max-width: 414px) {
    .table1 {
      display: block;
      overflow-x: auto;
      width: 95%;
    }
}

@media screen and (max-width: 320px) {
    .table1 {
      display: block;
      overflow-x: auto;
      width: 95%;
    }
}


  /* Cursos */

.course{
    width:95%;
    height:95%;
    margin: 10px auto;
    border-radius: 10px;
    /* background-color: #1a46df; */
    background-color: rgb(52, 60, 151);
    text-align: center;
}
  .wordCourse{
    text-align: center;
    padding: 50px .5em;    
  }

  .wordPaCourse{
    text-align: left;
    /* padding: 50px .5em;   */
    font-size: 80%;
  }

/* PAGINA PROYECTOS */

/* Title */

.wordProyectos{
    text-align: center;
    padding: 50px .5em;   
}

.wordAllProjects{
    padding: 50px .5em; 
}

.projectsBac{
    width:95%;
    height:95%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px .10em; 
    /* background-color: white;
    color: black; */
    /* background-repeat: no-repeat; */
    /* background-size: 50% 100%; */
    text-align: center;
}

.centerProjects{
    width:95%;
    height:95%;
    margin: 10px auto;
    text-align: center;
}

.dashPython{
    width:95%;
    height:95%;
    margin: 10px auto;
    border-radius: 10px;
    /* text-align: justify; */
    padding: 50px .5em; 
    background-color: rgba(73,157,214);
}


.plotlyPython{
    width:95%;
    height:95%;
    margin: 10px auto;
    border-radius: 10px;
    /* text-align: justify; */
    padding: 50px .5em; 
}

.pWork{
    text-align: justify;
}


.button {
    background-color: #1a46df; /* Green */
    border: none;
    color: white;
    margin: 20px auto;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.video{
    margin: 20px auto;
    padding: 20px .5em;
}